<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs", { title: title }) %>
  <body>
    <%- include("partials/header.ejs", { title: title }) %>
    <main>
      <h1><%= title %></h1>
      <%- include("partials/info.ejs") %>
      <div class="files">
        <% if (!locals.files || files.length === 0) { %>
        <p>No files uploaded yet.</p>
        <% } else { %>
        <% files.forEach(file=> { %>
        <div class="file">
          <img src="<%= file.fileLink %>" alt="<%= file.name %>"/>
          <a class="button_a" href="/files/<%= file.id %>">Manage</a>
          <% if (file.sharedLink && file.sharedExpiry >= new Date()) { %>
          <a class="button_a" target="_blank" rel="noopener noreferrer" href="/files/shared/<%= file.sharedLink %>">Shared Link</a>
          <p>Expires on <span class="dt"><%= file.sharedExpiry %><span></p>
          <% } %>
        </div>
        <% }) %>
        <% } %>
      </div>
      <div class="btn_container">
        <a class="button_a" href="/files/new">Upload a file</a>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const dts = document.querySelectorAll(".dt");
        dts.forEach(dt => {
          dt.textContent = new Date(dt.textContent).toLocaleString();
        });
      });
    </script>
  </body>
</html>
