<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs", { title: title }) %>
  <body>
    <%- include("partials/header.ejs", { title: title }) %>
    <main>
      <h1><%= title %></h1>
      <%- include("partials/info.ejs") %>
      <div class="files">
        <% if (!locals.files || files.length === 0) { %>
        <p>No files uploaded yet.</p>
        <% } else { %>
        <% files.forEach(file=> { %>
        <div class="file">
            <img src="<%= file.fileLink %>" alt="<%= file.name %>"/>
            <a href="/files/<%= file.id %>">Manage</a>
            <% if (file.sharedLink && file.sharedExpiry >= new Date()) { %>
            <a target="_blank" rel="noopener noreferrer" href="/files/shared/<%= file.sharedLink %>">Shared Link</a>
            <p>Expires on <%= file.sharedExpiry %></p>
            <% } %>
        </div>
        <% }) %>
        <% } %>
        <a href="/files/new">Upload a file</a>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
